.sidebar {
    width: 240px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #1C6758;
    overflow-x: hidden;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 1); /* Shadow on the right edge */
    padding-top: 20px;
    border-right: 1px solid black;
}

.icon {
    height: 90px;
}

.sidebar ul {
    list-style-type: none; /* Remove bullet points from list */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.sidebar ul li {
    padding: 8px 16px; /* Vertical and horizontal padding */
    text-align: center; /* Align text to the left */
    
}

.sidebar ul li a {
    color: white; /* Text color */
    font-size: 18px;
    display: block; /* Make the links fill the li container */
    text-decoration: none; /* Remove underline from links */
    transition: 0.2s;

}

.sidebar ul li a:hover {
    color: #60004a; /* Color for hovering */
}